@page
@model IndexModel
@{
    ViewData["Title"] = "Clan Rossium";
}

<div class="text-center">
    <h1 class="display-4">Clan Rossium</h1>
    <h2 class="text-muted">Guardianes del Conocimiento Digital</h2>

    <p class="lead">
        Bienvenido al santuario del Clan Rossium. <br />
        Aquí resguardamos el saber, la seguridad y la esencia mística de los datos.
    </p>

    <p>
        Accede a los registros de nuestros guardianes:
    </p>

    <div class="guardian-buttons">
        <a href="/Gabriel" class="btn-clan">Gabriel Martínez</a>
        <a href="/Karla" class="btn-clan">Karla Rosas</a>
    </div>
</div>
